<section class="container-content editar-nosotros">
	<section class="info">
		<div class="row"> 
			<div class="col-md-12 section-cumple">
				<h1 class="titulo-principal text-center">Editar Personal</h1>
			</div>
			<form ng-submit="editarNosotros()">
	            <div class="row">
	                <div class="col-md-offset-1 col-md-10 configuracion-inicial">
	                    <div class="input-registro col-md-12">
	                        <label>Nombre:</label>
	                        <input type="text" class="form-control" ng-model="nosotros.nombre" required>
	                    </div>
	                    <div class="input-registro col-md-12">
	                        <label>Descripción:</label>
	                        <div text-angular ng-model="nosotros.descripcion"></div>
	                    </div>
	                    <div class="input-registro col-md-12">
	                        <label>Función:</label>
	                        <input type="text" class="form-control" ng-model="nosotros.funcion">
	                    </div>
	                    <div class="input-registro col-md-5">
	                        <label>Imagen Personal:</label>
	                        <input type="file" ng-model="nosotros.imagen" base-sixty-four-input>
	                    </div>
	                    <div class="col-md-12 boton-form text-center">
	                        <button class="btn btn-md btn-primary" type="submit">Editar Personal</button>
	                    </div>
	                </div>
	            </div>
	        </form>
		</div>
	</section>
</section>