<section class="container-content nosotros">
	<section class="info text-center">
		<div class="row"> 
			<div class="col-md-12 section-cumple">
				<h1 class="titulo-principal">Quienes Somos</h1>
			</div>
			<div class="crear-nosotros">
				<a ng-click="crearNosotros('lg')" class="btn btn-primary">
					<span><i class="fa fa-plus"></i>Añadir Personal</span>
				</a>
			</div>
			<div class="table-responsive col-md-12">
				<table class="table table-striped">
					<tr>
						<th>Nombre Personal</th>
						<th>Foto Personal</th>
						<th>Editar Personal</th>
						<th>Eliminar Personal</th>
					</tr>
					<tr ng-repeat="personal in nosotros | orderBy: 'fecha_registro'">
						<td>{{personal.nombre}}</td>
						<td><img ng-src="{{'data:' + personal.imagen[0].filetype + ';base64,' + personal.imagen[0].base64}}" class="profile-image img-circle"></td>
						<td><a href="/nosotros/{{personal.pretty_url}}"><i class="fa fa-edit"></i></a></td>
						<td><i ng-click="eliminarNosotros('lg', personal._id)" class="fa fa-close delete"></i></td>
					</tr>
				</table>
			</div>
		</div>
	</section>
</section>