<section class="login">
	<section class="info">
		<div class="row"> 
			<div class="col-md-12 section-cumple">
				<h1>Admin El club de las hadas</h1>
			</div>
			<div class="col-md-12">
				<form class="form-login" class="form-registro" ng-submit="login.login()" method="post" role="form">
	        		<div class="input-registro">
	                    <label>Email:</label>
	                    <input type="email" class="form-control" ng-model="login.email" autofocus required>
	                </div>
	                <div class="input-registro">
                    	<label>Contraseña:</label>
                    	<input type="password" class="form-control" ng-model="login.password" required>
                	</div>
                	<div class="col-md-12 boton-form text-center">
                        <button class="btn btn-lg btn-primary" type="submit">Entrar</button>
                    </div>
                    <div class="text-center">
                    <label><a href="/recover">He olvidado mi contraseña</></a></label>
		        	</div>
	            </form>
			</div>
		</div>
	</section>
</section>