<section class="container-content editar-noticia">
	<section class="info">
		<div class="row"> 
			<div class="col-md-12 section-cumple">
				<h1 class="titulo-principal text-center">Editar Noticia</h1>
			</div>
			<form ng-submit="editarNoticia()">
	            <div class="row">
	                <div class="col-md-offset-1 col-md-10 configuracion-inicial">
	                    <div class="input-registro col-md-12">
	                        <label>Título:</label>
	                        <input type="text" class="form-control" ng-model="noticia.titulo" required>
	                    </div>
	                    <div class="input-registro col-md-12">
                        <label>Extracto:</label>
                        <div text-angular ng-model="noticia.extracto"></div> 
                    </div>
	                    <div class="input-registro col-md-12">
	                        <label>Noticia:</label>
	                        <div text-angular ng-model="noticia.contenido"></div> 
	                    </div>
	                    <div class="input-registro col-md-5">
	                        <label>Imagen Noticia:</label>
	                        <input type="file" ng-model="noticia.imagen" base-sixty-four-input>
	                    </div>
	                    <div class="col-md-12 boton-form text-center">
	                        <button class="btn btn-md btn-primary" type="submit">Editar Noticia</button>
	                    </div>
	                </div>
	            </div>
	        </form>
		</div>
	</section>
</section>